<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <!-- Application Settings -->
  <appSettings>
    <add key="DefaultStunServer" value="stun:stun.l.google.com:19302" />
    <add key="EnableLogging" value="true" />
    <add key="LogLevel" value="Info" />
  </appSettings>

  <runtime>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </runtime>
</configuration>
